@media screen {
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.headerClass{
    height: 5%;
    background-color:#DCF2F1;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #0F1035;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-task{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;

}
body .popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #7FC7D9;
    margin-top: 2.5%;
    padding: 10px;
    border-radius: 10px;
    border: #0F1035 solid 2px;
}
body .popup .addTask {
    /* Add your styles here */
    /* For example: */
    background-color: #365486;
    color: white;
    padding: 5px 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;

  }
.priorityLabel{
    padding: 3px;
    border-radius: 10px;
    margin-top: 1%;
    align-items: center;
    text-align: center;
}
.priority{
    padding: 3px;
    margin-top: 5px;
}
body .popup .prioritydiv {
    display: flex;
    flex-direction: row;
}
.timediv{
    display: flex;
    flex-direction: row;
    padding: 10px;
}