
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.headerClass{
    height: 5%;
    background-color:#DCF2F1;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #0F1035;
}
body{
    background-image: url("../images/rose.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.mainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTaskdiv{
    margin-right: 2em;
    margin-top: 2em;
}
.add-task{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;

}
body .popup{
    height: 12em;
    width: 18em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,0.1);
    margin-top: 2.5%;
    padding: 1em;
    border-radius: 2em;
    border: #0F1035 solid 2px;
}
.popup 
body .popup .addTask {
    background-color: #365486;
    color: white;
    padding: 5px 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;

  }
.priorityLabel{
    padding: 3px;
    border-radius: 10px;
    margin-top: 1%;
    align-items: center;
    text-align: center;
}
.priority{
    padding: 3px;
    margin-top: 5px;
}
body .popup .prioritydiv {
    display: flex;
    flex-direction: row;
}
.timediv{
    display: flex;
    flex-direction: row;
    padding: 10px;
}