
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
html{
    height: 100%;
}
.headerClass{
    height: 5%;
    background-color:rgba(220, 242, 241, 0.2);
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #ffffff;
}
body{
    height: 100%;
    background-image: url("../images/stars2.jpeg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.mainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.addTaskdiv{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 30%;
}

/*button*/

.add-task{
    height: 4em;
    padding: 5%;
    border-radius: 2em;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150%;
    

}
.add-task span{
    width: 80%;
    text-align: center;
    font-size: 1.5em;
}

.add-task:hover{
    background-color: rgba(180, 180, 180, 0.737);
    cursor: pointer;
}



/*pop up */

.popup{
    height: fit-content;
    width:24em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,0.1);
    margin-top: 2.5%;
    padding-top: 1em;
    border-radius: 2em;
    border: #ffffff solid 2px;
}

.Taskinput{
    height: 3em;
    margin-top: 1.5em;
    width: 80%;
    border-radius: 2em;
    text-align: center;
}

body .popup .prioritydiv {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
}
.priorityLabel{
    padding: 3%;
    border-radius: 10%;
    margin-top: 1%;
    align-items: center;
    text-align: center;
}
.priority{
    padding: 3px;
    margin-top: 5px;
}
.timediv{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em ;
}
body .popup .addTask {
    height: 3em;
    background-color: darkblue;
    color: white;
    padding: 5px 50px;
    border-radius: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: none;
    cursor: pointer;

}

