/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.errorDiv{
    margin-top: 2px;
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.293);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.511);
    color: white;
    padding: 30px;
    border-radius: 15%;
    box-shadow: 0 0 12px rgb(0, 0, 0);
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: black;
    z-index: 300;

}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-size: larger;
    
}

button {
    padding: 10px;
    background-color: rgb(55, 166, 210);
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: larger;
}

button:hover {
    background-color:rgb(127, 180, 201);
}

h3{
    font-size: medium;
    color: rgba(227, 227, 227, 0.722);
}
h3 a{
    text-decoration: underline;
    color: white;
}

h3 a:hover{
    color: rgb(165, 165, 165);
}

h2 a:visited{
    color: black;
}