/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@media screen and (max-width: 675px) {
    .navbar {
        font-size: 70%;
    }

    .feature{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 100%;
    }
    .featureBarsDiv{
        width: 100%;
    }
}

.navbar{
    background-color: #365486;
    position: fixed;
    top: 5%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 20%;
    border: black solid 2px;
    text-align: center;
    align-items: center;
}

.navigation{
    display: none;
}


.userDetails{
    width: 80%;
    height: fit-content;
    background-color: #0F1035;
    border-radius: 1.5em;
    padding: 0.1em;
    color: #DCF2F1;
    font-size: 75%;
}

.featureBarsDiv{
    width: 80%;
}


.featuresBar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.feature{
    background-color: #2a4a82;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
    z-index: 10;
    list-style: none;
    font-family:fantasy;
    font-weight: 400;
    letter-spacing: 0.1em;
    width: 100%;
    font-size: 150%;
    height: 3em;   

}
.textcenterProp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.feature:hover{
    background-color: #7FC7D9;
}




