*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.taskCard{
    margin-top: 0.5em;
    display: flex;
    background-color: rgba(128, 128, 128, 0.355);
    flex-direction: row;
    justify-content: space-around;
    border:solid black 2px;
    text-align: center;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 1em;
    margin-left: 2em;
    color: white;
    width: 100%;
}
.taskDetails{
    margin-left: 7%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1em;

}
.taskWrapDiv{
  width: 67%;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;

}
.sno{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 6%;
    height: 2em;
}
.taskName{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 96%;
    height: 2em;
    font-size: 1.25em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.wrapDiv{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.time{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width:70%;
    height: 2em;
    text-align: left;
}
.check_delete_wrap{
  width: 30%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2em;
}

.deleteIcon{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deleteIcon:hover{
  cursor: pointer;
}






/*styling for the checkbox*/

/* The container */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  display:block;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: rgb(53, 224, 53);
  
}


.container input:checked ~ .taskName {
    text-decoration: line-through;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  display: block;
  position: relative;
  left: 0.5em;
  top: 0.3em;
  width: 20%;
  height: 40%;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media screen and (max-width: 1175px) {
  .taskCard{
    flex-direction: column;
  }
  .taskWrapDiv{
    width: 100%;
    justify-content: center;
  }
  .sno{
    justify-content: center;
  }
  .taskName{
    justify-content: center;
  }
  .wrapDiv{
    width: 100%;
    flex-direction: column;
  }
  .time{
    justify-content: center;
  }
}