<div class="headerClass">
    <button class="topMenuBtn">
        <span class="material-symbols-outlined iconColor">
            menu
        </span>
    </button>
    
    <div class="headerClass" style="justify-content:center;">
        <h2>TimeStone</h2>
    </div>
    <div>
        <button class="topMenuBtn">
            <span class="material-symbols-outlined iconColor">
                settings
            </span>
        </button>
        
        <button class="topMenuBtn">
            <span class="material-symbols-outlined iconColor">
                person
            </span>
        </button>
        
    </div>
</div>