<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet/header.css">
    </head>
    <body>
        <div class="headerClass">
            <button class="topMenuBtn">
                <span class="material-symbols-outlined iconColor">
                    menu
                </span>
            </button>
            
            <div class="headerClass" style="justify-content:center;background-color:rgba(220, 242, 241, 0.014);">
                <h2>TimeStone</h2>
            </div>
            <div>
                <button class="topMenuBtn">
                    <span class="material-symbols-outlined iconColor">
                        settings
                    </span>
                </button>
                
                <button class="topMenuBtn">
                    <span class="material-symbols-outlined iconColor">
                        person
                    </span>
                </button>
                
            </div>
        </div>
    </body>
</html>