<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet/navbarstyle.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="navigation" style="display: none;">
            <nav>
                <div class="navbar">
                    <div class="userDetails textcenterProp">
                        <h1 style="font-family:cursive;">Hey <span></span>!</h1>
                    </div>
                    <div class="featuresBarDiv">
                        
                            <div class="feature textcenterProp">
                                <a href="Home"><li>Tasks</li></a>
                            </div>
                            <div class="feature textcenterProp">
                                <a href="Scheduler"><li>Calender</li></a>
                            </div>
                            <div class="feature textcenterProp">
                                <a href="habitTracker"><li>Habit Tracker</li></a>
                            </div>
                            
                            
                        
                    </div>
                </div>
                
            
            </nav>
        </div>
        
    </body>
</html>