<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register Page</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body>
    <video autoplay muted loop id="bgvid">
        <source src="/images/habitbg.mp4" type="video/mp4">
    </video>
    <div class="container">
        <h1>register</h1>
        <form action="/auth/register/post" method = "post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">register</button>
        </form>
    </div>
</body>
    <script src="javascript/register.js"></script>
</html>