<!DOCTYPE html>
<html>
    <body>
        <div class="taskDetails">
            <% for( let i of taskdetails) { %>
                <div class="taskCard">
                    <div class="sno">
                        <h3>1</h3>
                    </div>
                    <div class="taskName">
                        <%= i.taskName %>
                    </div>
                    <div class="time">
                        <%= i.startTime %>:<%= i.endTime %>
                    </div>
                    <div class="checkbox">
                        <label class="container">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>