<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet/welcome.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sevillana&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jaro:opsz@6..72&family=Sevillana&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jaro:opsz@6..72&family=Lobster&family=Sevillana&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Jaro:opsz@6..72&family=Lobster&family=Sevillana&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="header">
            <div class="headerName"> <img src="../images/TimeStoneMed.png" alt="TimeStone" height="120%"></div>
            <div class="headerButtons">
                <div class="Login-Button">
                    Login
                </div>
                <div class="Register-Button">
                    Register
                </div>
            </div>
        </div>
        <div class="welcome-box">
            <h2 class="firstLine">Welcome To</h2>
            <h2 class="secondLine">TimeStone</h2>
            <h3 class="thirdLine">Unlock Your Time and Productivity</h3>
            <h4 class="fourthLine">Be the Master Of Mystic Arts by controlling your TIME!</h4>
        </div>
        <div class="featuresDiv">
            <div class="feature">
                <div class="featureheading"><h1>Task Manager</h1></div>
                <div class="featurebody">
                    
                        <img src="../images/dummy1.jpg" alt="TaskManager" height="35%">
                        <div class="featureDesc"> <h3> Our Task Manager is efficient enough <br> to handle and keep your tasks updated</h3></div>
                    
                    
                </div>
                
            </div>
            <div class="feature">
                <div class="featureheading"><h1>Calender</h1></div>
                <div class="featurebody">
                        <img src="../images/dummy2.jpg" alt="Calender" height="35%">
                        <div class="featureDesc"> <h3> Our powerful calender makes you 10x times more productive</h3></div>
                </div>
            </div>

            <div class="feature">
                <div class="featureheading"><h1>HabitTracker</h1></div>
                    <div class="featurebody">
                        <img src="../images/dummy3.jpg" alt="HabitTracker" height="35%">
                        <div class="featureDesc"> <h3>Our habit tracker is a great tool to improve your life!</h3></div>
                </div>
                
                
            </div>

            <div class="getStartedDiv">
                <div class="getStartedButton"> Get Started <span class="material-symbols-outlined">arrow_forward_ios</span></div>
            </div>
        </div>
        <footer>
            <div class="footer1">
                <li> Contact Us!</li>
                <li> Support Us!</li>
                <li> Our Products</li>
                <li>About Us!</li>
            </div>
            <div class="footer2">
                <img src="../images/TimeStoneBig.png" alt="TimeStone" height="50%">
            </div>
            <div class="footer3">
                <h4>Email: timestoneindia@gmail.com<br>
                Customer Support: +91 98432 99962
                <br>
                No 3 , First Floor <br>
                Amrita Tech Park , Coimbatore , 641008</h4>

            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="javascript/welcome.js"></script>
    </body>
</html>